<!doctype html>
<html lang="en">

<head>
    <title>Demo</title>
</head>

<body>
    <table style="width: 800px;border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
        <tbody>
            <tr>
                <td align="left" style="width: 50%;">
                    <table style="width: 50%;border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                        <tbody>
                            <tr>
                                <td style="width: 50%;">
                                    <a href="#">Q U O TAT I O N</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    ABV TOOL
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    GSTIN <b>24ATKPV5305Q1Z0</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    A- 205, Kris,hErlt, T02
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td align="right" style="width: 50%;vertical-align: top;">

                    <table style="width: 120px; height:100px;border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                        <tr>
                            <td>
                                <img src="images/logo.gif" alt="" width="250" height="auto">
                            </td>
                        </tr>
                    </table>

                </td>

            </tr>
            <tr>
                <td align="left" style="width: 100%;">
                    <table style="border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;width: 100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <b> Mobile</b> 7874427439, 8469555348
                                </td>
                                <td>
                                    <b>Email</b> <a href="#">abvtradesol@gmail.com</a>
                                </td>
                            </tr>
                            <tr>
                                <td width="320">
                                    <b> Website</b> <a href="#">www.abvtool.in</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <table style="width: 800px;border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                    <td align="left">
                        <table style="border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Quotation #: EST-35 </b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td align="left">
                        <table style="border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Quotation Date : O1 Dec 2023</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td align="left">
                        <table style="border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Due Date</b>: O1 Dec 2023
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </table>
            </tr>
            <br>
            <tr>
                <table style="width: 800px;border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                    <td align="left">
                        <table style="border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                            <tbody>
                                <tr>
                                    <td>
                                        Customer Details:
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Mr.Bharat</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>INhOSIGNS</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>GSTIN: 2FAA9hIF3H261ZH</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Ph: 9945259977
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                    <td align="left" style="vertical-align: top;">
                        <table style="border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Billing address:</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        No.41
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Kanakapura Main Road, Bengaluru
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Bengaluru Urban, KARNATAKA, 560062
                                    </td>
                                </tr>


                            </tbody>
                        </table>

                    </td>
                </table>
            </tr>
            <br>
            <tr>
                <table style="width: 50%;border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                    <td align="left">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        Place of Supply:
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>2F-KACNATAKA</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </table>
            </tr>
            <br>
            <tr>
                <table style="width: 800px;border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                    <thead>
                        <tr>
                            <th style=" width: 50px;border-top: 2px solid blue;border-bottom: 2px solid blue;padding: 10px 0px;text-align: left;">#</th>
                            <th style="border-top: 2px solid blue;border-bottom: 2px solid blue;padding: 10px 0px;text-align: left;">Item</th>
                            <th style="border-top: 2px solid blue;border-bottom: 2px solid blue;padding: 10px 0px;text-align: left;">Rate / Item</th>
                            <th style="border-top: 2px solid blue;border-bottom: 2px solid blue;padding: 10px 0px;text-align: left;">Qty</th>
                            <th style="border-top: 2px solid blue;border-bottom: 2px solid blue;padding: 10px 0px;text-align: left;">Taxable Value</th>
                            <th style="border-top: 2px solid blue;border-bottom: 2px solid blue;padding: 10px 0px;text-align: left;">Tax Amount</th>
                            <th style="border-top: 2px solid blue;border-bottom: 2px solid blue;padding: 10px 0px;text-align: left;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border-bottom: 2px solid gray;padding: 10px 0px;text-align: left;width: 50px;padding: 0px;margin: 0px;">1</td>
                            <td style="border-bottom: 2px solid gray;padding: 10px 0px;text-align: left;padding: 0px;margin: 0px;">OVOLO BIT </td>
                            <td style="border-bottom: 2px solid gray;padding: 10px 0px;text-align: left;padding: 0px;margin: 0px;">369.00</td>
                            <td style="border-bottom: 2px solid gray;padding: 10px 0px;text-align: left;padding: 0px;margin: 0px;">5 NOS</td>
                            <td style="border-bottom: 2px solid gray;padding: 10px 0px;text-align: left;padding: 0px;margin: 0px;">1,845.00</td>
                            <td style="border-bottom: 2px solid gray;padding: 10px 0px;text-align: left;padding: 0px;margin: 0px;">3.32.10 (18%)</td>
                            <td style="border-bottom: 2px solid gray;padding: 10px 0px;text-align: left;padding: 0px;margin: 0px;">2,177.10</td>
                        </tr>
                    </tbody>
                </table>
                <table style="width: 800px;border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                    <tr align="right">
                        <td>
                            <table style="width: 767px;border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                                <tr>
                                    <td style="text-align: right;">
                                        <b>Taxable Amount</b>
                                    </td>
                                    <td style="text-align: right;">
                                        <b>₹7000.00</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        <b>Delivery Shipping Charges</b> - SAC: 9968
                                    </td>
                                    <td style="text-align: right;">
                                        <b>₹150.00</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        <b>IGST 18.0%</b>
                                    </td>
                                    <td style="text-align: right;">
                                        <b>₹1,287.00</b>
                                    </td>
                                </tr>
                            </table>
                            <table style="width: 320px; min-width: 200px;margin: 5px 0px;border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                                <tr style="border-top: 2px solid gray;">
                                    <td style="font-size: 25px;text-align: right;">
                                        <b>Total</b>
                                    </td>
                                    <td style="font-size: 25px;text-align: right;">
                                        <b>₹8,437.00</b>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <br>
                </table>
            </tr>
            <br />
            <tr>
                <table style="width: 800px;border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                    <tbody>
                        <tr>
                            <td>
                                <table style="border-bottom: 1px solid rgba(23, 23, 172, 0.8);border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                                    <tr>
                                        <td style="width: 320px; border-bottom: 2px solid blue;padding: 10px 0px;">Total Items / Qty : 3/ 15,000</td>
                                        <td style="width: 920px;border-bottom: 2px solid blue;padding: 10px 0px;">Total amount (in words) : INR Eight Thousand, Four Hundred And Thirty-sevan Rupees Only.</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </tr>
            <br />
            <br />
            <tr>
                <table style="width: 60%;border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                    <tbody>
                        <tr>
                            <td>
                                <table style="border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                                    <tr>
                                        <td><b>Pay useing UPI</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="images/code.png" alt="" height="120" width="120">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="vertical-align: top;">
                                <table style="border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                                    <tr>
                                        <td><b>Bank Details</b></td>
                                    </tr>
                                    <tr>
                                        <td>Bank</td>
                                        <td><b>HDFC BANK</b></td>
                                    </tr>
                                    <tr>
                                        <td>Acount # :</td>
                                        <td><b>52200068238921</b></td>
                                    </tr>
                                    <tr>
                                        <td>IFSC</td>
                                        <td><b>HDFC0006476</b></td>
                                    </tr>
                                    <tr>
                                        <td>Branch :</td>
                                        <td><b>SP Ring Road</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td align="right">
                                <table style="border-collapse: collapse !important;font-size: 16px;font-family: sans-serif;">
                                    <tr>
                                        <td align="right">Fro ABV TOOL</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="images/Rectangle 1.png" alt="" width="200">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right"> Authorized Signatory</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </tr>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br /><br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </tbody>
    </table>
</body>

</html>